

table, tbody, tr, th, td {
  margin: 0px;
  padding: 0px;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.cal {
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #404040;
}

.cal {
  font-weight: bold;
  background: #bebfc0;
  background: rgba(0, 0, 0, 0.1);
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
	width: 100% !important;
}
.cal:before {
    background: none repeat scroll 0 0 #D9D9D9;
    content: "";
}
.cal a {
  text-decoration: none;
}
.cal tr:first-child td {
  border-top: 0;
}
.cal td:first-child {
  border-left: 0;
}
.cal tr:first-child a {
  border-top: 0;
  margin-top: 0;
}
.cal tr:last-child a {
  border-bottom: 0;
  margin-bottom: 0;
}
.cal td:first-child a {
  border-left: 0;
  margin-left: 0;
}
.cal td:last-child a {
  border-right: 0;
  margin-right: 0;
}


.cal-table {
    border-collapse: separate;
    position: relative;
}


.cal-caption {
    background: none repeat scroll 0 0 #D2B48C;
    color: #FFFFFF;
    line-height: 32px;
    padding-bottom: 1px;
    text-align: center;
    width: 100%;
}
.cal-caption a {
  line-height: 30px;
  padding: 0 10px;
  font-size: 20px;
  font-weight: normal;
  color: white;
}
.cal-caption .prev {
  float: left;
}
.cal-caption .next {
  float: right;
}

.cal-body td {
  width: 30px;
  font-size: 11px;
  border-top: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
}
.cal-body a {
  display: block;
  position: relative;
  line-height: 28px;
  color: #555;
  text-align: center;
  background: white;
}
.cal-body a:hover {
  background: #fafafa;
}

.cal-off a {
  color: #ccc;
  font-weight: normal;
}

.cal-today a {
  color: black;
  background: #f5f5f5;
  background-image: -webkit-linear-gradient(top, whitesmoke, white 70%);
  background-image: -moz-linear-gradient(top, whitesmoke, white 70%);
  background-image: -o-linear-gradient(top, whitesmoke, white 70%);
  background-image: linear-gradient(to bottom, whitesmoke, white 70%);
}

.cal-selected a, .cal-body a:active {
  margin: -1px;
  color: #b2494d;
  background: #fff5f6;
  border: 1px solid #e7d4d4;
}

.cal-check a {
  color: #f79901;
  overflow: hidden;
}
.cal-check a:before {
  content: '';
  position: absolute;
  top: -6px;
  right: -6px;
  width: 12px;
  height: 12px;
  background: #ffb83b;
  background-image: -webkit-linear-gradient(top, #ffb83b, #ff6c00);
  background-image: -moz-linear-gradient(top, #ffb83b, #ff6c00);
  background-image: -o-linear-gradient(top, #ffb83b, #ff6c00);
  background-image: linear-gradient(to bottom, #ffb83b, #ff6c00);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.lt-ie8 .cal-table {
  *border-collapse: collapse;
}
.lt-ie8 .cal-body a {
  zoom: 1;
}